@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

    <form method="post" action="/user">
        <h1>New User</h1>
        <div class="form-group">
            <label for="username">User Name</label>
            <input name="username" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input name="email" type="email" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control"/>
        </div>
        <input type="submit" value="Add User" />
    </form>
